@use "../../styles/variables" as *;

.button {
    border: none;
    border-radius: $radius-md;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2 ease;

    &.primary { background: $primary; color: #fff;}
    &.secondary { background: $secondary; color: black;}

    &.sm { padding: 0.25rem 0.5rem; font-size: 0.8reml}
    &.md { padding: 0.5rem 1rem; font-size: 1rem;}
    &.lg { padding: 0.75rem 1.25rem; font-size: 1.2rem;}
}